<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="css/cssbootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
                <!--=============== JS ===============--> 
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="body">
            <div class="nav">
                {% include 'home/nav.html.twig' %}
            </div>  
            <div class="home">
                {% block body %}
                <div class="br-arr"><h2 class="h3-arr">{{pagina}}</h2></div>
                <h1>Hola</h1>
                {% for mensajes in mensajes %}
                    {{ mensajes.mensaje }}
                    <br>    
                {% endfor %}
                {% endblock %}
                <button type="button" class="br-abj" data-bs-toggle="modal" data-bs-target="#Modal1">
                    <div class="crear_mensaje">
                        +<i class="bi bi-pencil-fill"></i>
                    <div/>
                </button>
            </div>
        </div>
        <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Here is a Modal title</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                             {{form(formulario)}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-warning">Save</button>
                        </div>
                </div>
            </div>
        </div>
    </body>
    <!--=============== JS ===============--> 
    <script src="js/jsbootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
</html>
