    <div class="nav2">
        <a href="#" class="enla">
            <div class="enlace"><div class="enl_ico"><i class="bi bi-house-fill"></i></div></div> 
        </a>
        <div class="aux"></div>
        <a href="#" class="enla">
            <div class="enlace"><div class="enl_ico"><i class="bi bi-newspaper"></i></div></div> 
        </a>
        <div class="aux"></div>
        <a href="#" class="enla">
            <div class="enlace"><div class="enl_ico"><i class="bi bi-person-fill"></i></div></div> 
        </a>
        <div class="aux"></div>
        <a href="#" class="enla">
            <div class="enlace"><div class="enl_ico"><i class="bi bi-three-dots"></i></div></div> 
        </a>
        <div class="aux"></div>
        <a href="#" class="enla">
            <div class="enlace"><div class="enl_ico"><i class="bi bi-search"></i></div></div> 
        </a>
    </div>
