<!DOCTYPE html>
<html>
    <div class="nav2">
        <a href="#">
            <div class="enlace"><div class="enl_nom">Inicio</div><i class="bi bi-house-fill"></i></div>
            
        </a>
        <div class="enlace">
            <a href="#">Noticias</a>
        </div>
        <div class="enlace">
            <a href="#">Perfil</a>
        </div>
        <div class="enlace">
            <a href="#">Buscador</a>
        </div>
    </div>
</html>