body{
    margin: 0;
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.nav{   
    min-height: 50vh;
    position: sticky;
    top: 0;
}
.nav2{
    text-align: right;
    display: grid;
    margin-top: 10rem;
    background-color: #7f5aa1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enlace{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 3rem;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.enl_ico{
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.enl_ico:hover{
    background-color: #c09ce2;
}
i{
    font-size: 25px;
    display: contents;
}
.body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
a{
    text-decoration: none;
}
.home{
    background-color:white;
    max-width: 40rem;   
    min-width: 40rem;
    color: black;       
    border-left: solid 0.5px #f3f3f3;
    border-right: solid 0.5px #f3f3f3;
    min-height: 100vh;
}
.br-arr{
    background: rgb(255,245,249,1);
    background: linear-gradient(90deg, rgba(255,245,249,1) 0%, rgba(255,242,247,1) 31%, rgba(255,245,249,1) 100%, rgba(255,255,255,1) 100%);
    opacity: 90%;
    position: sticky;
    top: 0;
    min-height: 2rem;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    
}
.h3-arr{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(140,84,192,1) 15%, rgba(164,70,252,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aux{
    height: 2.5rem;
}
.crear_mensaje{
    border-radius: 100px;
    background-color: #7f5aa1;
    height: 4.5rem;
    width: 4.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    color: white;
    pointer-events:all;
}
.br-abj{
    border: none;
    background-color: transparent;
    position: sticky;
    bottom: 0;
    min-height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    backface-visibility: hidden;
    pointer-events:none !important;
}

.mensaje{
    min-height: 10vh;
    border-bottom: solid #ece0f7 0.5px;
    display: flex;
}
.mensaje:hover{
    background-color: #fcf9fc;
}
.img_mensaje{
    max-width: 70%;
    border-radius: 10px;
}
.foto_perfil{
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 120% auto;
}
.contenido{
    display: flex;
    flex-direction: column;
}
.men_cabecera{
    display: flex;
    align-items: flex-end;
    padding: 18px 20px 5px 0px;
}
.imagen{
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
}
img{
   cursor: pointer; 
}
.texto{
    margin-left: 1rem;
    margin-bottom: 20px;
    
}
.nombre{
    font-size: 20px;
    margin-left: 17px;
}
.tiempo{
    margin-left: 10px;
}
#puntitos{
    font-size: 20px;
}
.opciones{
    margin-left: 21rem;
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
}
.opciones:hover{
    background-color: #f3f3f3;
}
.imagen1 {
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.img_modal {
}