{% extends 'base.html.twig' %}

{% block title %}Hola hola !{% endblock %}

{% block body %}
OLA
    {% for message in app.flashes('exitoso') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="form">
        {{ form(formulario) }}
        
    </div>
{% endblock %}
