#cabeceraBuscador{
    align-items: flex-end;
    padding: 30px 20px 5px 0px;
 
}
#formBUSQUEDA{
    display: flex;
    align-items: center;
}
.enlaceNoticia{
    width: 100%;
    text-align: end;
}
.selectorNoticias{
    margin-top: 100px;
    width: 100%;
    background-color:red;
    display:flex;
}
.noticia1{
    width: 100%;
}
#barraBusqueda{
    width: 85%;
    border: solid #7f5aa1 0.5px;
    border-radius: 25px;
    color:white;
    margin-top: 2%;
}
.usuariosEncontrados{
    width: 100%;
}
.tarjetaCompletaUsuario{
    width: 100%;
    border-bottom: solid #ece0f7 0.5px;
    display: flex;
}
#bloqueImgBusqueda{
    padding-top: 10px;
}
.perfilImg{
    width: 15%;
}
.foto_perfilBuscador{
    cursor: pointer;
    margin-top: 32px;
    margin-left: 20px;
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 120% auto;
}
#contenido{
   
}
.nombre_followContenedor{
    display: flex;
}
.followContenedor {
    margin-top: 8px;
    margin-left: 20px;
}
.eresTu {
    margin-top: -5px ;
    margin-left: -15px;
    cursor: pointer;

}
.followContenedor a {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    color: #262626;
    font-weight: 500;
    border-radius: 4px;
    position: relative;
    user-select: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
}


.unfollowBuscador {
    width: 60px;
    padding: 5px 22px 5px 22px !important;
    cursor: pointer;
}
.followBuscador {
    width: 60px;
    padding: 5px 22px 5px 22px !important;
    cursor: pointer;
}
.unfollowBuscador i{
    color: #7f5aa1;
    font-size: medium;
}
.followBuscador i{
    color: #000609;
    font-size: medium;
}

.textoNoticias{
    word-wrap: break-word;
    text-align: justify;
    margin-left: 10%;
    width: 100%;
    max-width: 520px;
    margin-bottom: 3%;

}
.noticias{
    margin-top: 15%;
}

#seguirBuscador{
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    color: #000609;
    font-weight: 500;
    border-radius: 4px;
    position: relative;
    user-select: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
}
.descripcion{
    font-size: 12.5px;
    margin-left: 17px;
    cursor: pointer;
}
#iconoBuscar{
    color: #7f5aa1;
}
.parteSuperior{
    width: 100%;
}
i{
    color:white
}
.required{
    display: none;
}
#barra_busqueda_username{
    /* display: flex;
    width: 200px;
    margin-top: 2%;
    height: 40px;
    border: none;
    padding-top: 20px;
    font-size: 9pt;
    padding-left: 50px;
   border-color: none; */
   width: 30em;
   border-style: inset;
   border: 0;
   outline: none;
    padding-left: 10px;
    padding-top: 15px;

appearance:none;
color:black;
background-color:rgba(0, 0, 0, 0);


}