#tarjetaUsuario{
    min-height: 10vh;
    
    display: flex;
 
}
#formBUSQUEDA{
    display: flex;
}
#barraBusqueda{
    width: 40%;
    border: solid #7f5aa1 0.5px;
    border-radius: 25px;
    color:white;
    margin-top: 2%;
}
.usuariosEncontrados{
    width: 100%;
}
#bloqueImgBusqueda{
    padding-top: 5px;
    padding-left: 10px;
}
#contenido{
    width: 50%;
    border-bottom: solid #ece0f7 0.5px;
}
#iconoBuscar{
    color: #7f5aa1;
}
.parteSuperior{
    width: 100%;
}
i{
    color:white
}
.required{
    display: none;
}
#barra_busqueda_username{
    /* display: flex;
    width: 200px;
    margin-top: 2%;
    height: 40px;
    border: none;
    padding-top: 20px;
    font-size: 9pt;
    padding-left: 50px;
   border-color: none; */
   border-style: inset;
   border: 0;
   outline: none;
margin: 5px;
appearance:none;
color:inherit;
background-color:rgba(0, 0, 0, 0);


}