body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.nav {   
    min-height: 50vh;
    position: sticky;
    top: 0;
}
.nav2 {
    text-align: right;
    display: grid;
    margin-top: 10rem;
    background-color: #7f5aa1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enlace {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 3rem;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.enl_ico {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    color: white;
}
.enl_ico:hover {
    background-color: #c09ce2;
}
i {
    font-size: 25px;
    display: contents;
}
.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
a {
    text-decoration: none;
}
.home {
    background-color:white;
    max-width: 40rem;   
    min-width: 40rem;
    color: black;       
    border-left: solid 0.5px #f3f3f3;
    border-right: solid 0.5px #f3f3f3;
    min-height: 100vh;
}
.br-arr {
    background: rgb(255,245,249,1);
    background: linear-gradient(90deg, rgba(255,245,249,1) 0%, rgba(255,242,247,1) 31%, rgba(255,245,249,1) 100%, rgba(255,255,255,1) 100%);
    opacity: 90%;
    position: sticky;
    top: 0;
    min-height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.atras {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.atras i {
    margin: 0;
    color: #8d6aad;
}
.atras:hover {
    background-color: #ffdbe9;
}
.h3-arr {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(140,84,192,1) 15%, rgba(164,70,252,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aux {
    height: 2.5rem;
}
.crear_mensaje {
    border: none;
    border-radius: 100px;
    background-color: #7f5aa1;
    height: 4.5rem;
    width: 4.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    color: white;
    pointer-events:all;
}
.br-abj {
    border: none;
    background-color: transparent;
    position: sticky;
    bottom: 0;
    min-height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    backface-visibility: hidden;
    pointer-events:none !important;
}

.mensaje {
    min-height: 10vh;
    border-bottom: solid #ece0f7 0.5px;
    display: flex;
    cursor: pointer;
}
.mensaje:hover {
    background-color: #fcf9fc;
}
.img_mensaje {
    max-width: 70%;
    border-radius: 10px;
}
.foto_perfil {
    cursor: pointer;
    margin-top: 32px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.contenido {
    display: flex;
    flex-direction: column;
}
.men_cabecera {
    display: flex;
    align-items: flex-end;
    padding: 18px 20px 5px 0px;
}
.imagen { 
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
}
img {
   cursor: pointer; 
}
.texto {
    margin-left: 1rem;
    margin-bottom: 20px;
    
}
.nombre {
    font-size: 20px;
    margin-left: 17px;
    cursor: pointer;
}
.nombre b:hover {
    text-decoration: underline;
}
.tiempo {
    margin-left: 10px;
}
#puntitos {
    font-size: 20px;
}
.opciones {
    margin-left: 21rem;
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
}
.opciones i {
    color: #9a7cb6;
}
.opciones:hover{
    background-color: #f3f3f3;
}
.imagen1 {
   display: flex;
   justify-content: center;
   flex-direction: column;
}
 .imagen2 img {
    align-items:stretch;
    object-fit: contain;
    max-height: 60vh;
    max-width: 45vh;
 }
 .imagen1 img {
    align-items:stretch;
    object-fit: contain;
    max-height: 80vh;
 }
 .imagen1 .img_modal_perfil {
    align-items:stretch;
    object-fit: contain;
    max-height: 35vh;
 }

.btn_elimg {
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
    color: white;
    background-color: rgb(54, 54, 54,0.6);
}
.btn_elimg:hover {
    background-color: rgb(54, 54, 54,0.8);
}
.btn_elimg i {
    font-size: 20px;
}
#mensaje_imagen {
    color: white;
    background-color: brown;
    display: none;
}

.subir_img {
    color: #7f5aa1;
    padding: 10px;
    border-radius: 50%;
    margin-top: 10px;
}
.subir_img:hover {
    background-color: #f3e8ff;
}
.subir_img i {
    font-size: 20px;
    color: #9a7cb6;
}
.separador {
    border-top: solid 1px #ebdef8;
    width: 100%;
}
.aux {
    margin-top: 10px;
    height: 0;
    display: flex;
    justify-content: center;
}
.mensaje_texto {
    border: none;
    outline: none;
    resize: none;
    width: 40vh;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size:20px;
}
.preview-img {
    border-radius: 15px;
}
.mensaje_arriba {
    display: flex;
}
.boton_guardar {
    border: none;
    padding: 10px 10px 10px 10px;
    width: 5rem;
    border-radius: 20px;
    background-color: #9a7cb6;
    color: white;
    font-size: 15px;
}

.boton_guardar:hover {
    background-color: #7f5aa1;
}
.btn-send {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.interaccion {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.interaccion i {
    font-size: 20px;
}
/* .heart {
    margin-left: 10vh;
} */
.interComen {
    margin-left: 3vh;
    display: flex;
    align-items: center;
    margin-right: 10vh;
}
.icoComentario {
    padding: 6px 6px 6px 6px;
    border-radius: 50%;
}
.icoComentario:hover {
    background-color: #bea6e9;
    opacity: 0.4;
    color: #7f5aa1;
}

.heart {
    display: flex;
    align-items: center;
}
.likeTotales {
    margin-left: 1.5vh;
}
.heart i {
    color: #FCB7F8;
    cursor: pointer;
}
.corazon {
    padding: 6px 6px 4px 6px;
    border-radius: 50%;
}
.corazon:hover {
    background-color: #d68ed3;
    opacity: 0.4;
}
.heart #nolike:hover {
    color: red;
}

.crear_comentario {
    display: flex;
    margin-top: 1vh;
    padding-bottom: 3vh;
    border-bottom: solid 1px #ece0f7;
    
}

.boton_comentar {
    border: none;
    padding: 10px 10px 10px 10px;
    width: 6rem;
    border-radius: 20px;
    background-color: #9a7cb6;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}
.respuesta {
    display: flex;
    border-bottom: solid 1px #ece0f7;
    min-height: 80px;
}

.texto {
    word-wrap: break-word;
    max-width: 500px;
}

/* PERFIL */

.cabecera {
    min-width: 30vh;
    display: flex;
    margin-bottom: 30px;
}
.cab_nom {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    margin-left: 45px;
}
.foto_perfil_perfil {
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    cursor: pointer;
}
.nombre_perfil {
    max-width: 25vh;
}
.estilos_nombre {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 35px;
    line-height: 32px;
    margin: -5px 0 -6px;
    font-weight: 300;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    white-space: nowrap;
    vertical-align: baseline;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.editar_perfil {
    margin-left: 20px;
}
.editar_perfil a {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    color: #262626;
    font-weight: 500;
    border-radius: 4px;
    position: relative;
    user-select: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}
.informacion {
    display: flex;
    margin-top: 2vh;
    margin-left: 45px;
}
.num_publi,
.num_seguidos,
.num_seguidores {
    display: flex;
    margin-right: 2vh;
}
.num_seguidos,
.num_seguidores {
    cursor: pointer;
}
.num_seguidos:hover,
.num_seguidores:hover {
    text-decoration: underline;
}
.num {
    color: #262626;
    font-weight: 600;
    margin-right: 5px;
}
.descripcion_perfil {
    word-wrap: break-word;
    max-width: 400px;
    margin-left: 45px;
    margin-top: 20px;
}
.foto_perfil_editar {
    margin-top: 20px;
    margin-left: 20px;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.editar_img {
    color: #8400ff;
    border-radius: 50%;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
}
.div_img {
    display: flex;
}
.editar_nombre {
    display: flex;
    margin-top: 40px;
    margin-left: 70px;
}
.editar_nombreInput {
    margin-left: 50px;
    width: 300px;
    border: solid 0.5px #DBDBDB;
}
.editar_descripcion {
    display: flex;
    margin-top: 40px;
    margin-left: 70px;
}
.editar_descripcionInput {
    margin-left: 46px;
    width: 300px;
    resize:none;
    height: 80px;
    border: solid 0.5px #DBDBDB;
}
.editar_email {
    display: flex;
    margin-top: 40px;
    margin-left: 70px;
}
.editar_emailInput {
    margin-left: 70px;
    width: 300px;
    border: solid 0.5px #DBDBDB;
}
.editar_pass {
    display: flex;
    margin-top: 40px;
    margin-left: 70px;
    align-items: center;
}
.editar_pass label {
    width: 150px;
    font-size: medium;
}
.editar_passInput {
    margin-left: 27px;
    width: 300px;
    border: solid 0.5px #DBDBDB;
    max-height: 30px;
}
.editar_buton {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    margin-right: 160px;
}
.toast-warning {
    background-color: #9a7cb6 !important;
}  
.toast-success {
    background-color: #9a7cb6 !important;
} 
.toast-error {
    background-color: #9a7cb6 !important;
}   
.cerrarSesion {
    padding: 8px 10px 6px 8px;
    border-radius: 50%;
    margin-left: 15px;
}
.cerrarSesion i {
    color: black;
}
.cerrarSesion i:hover {
    color: #c09ce2;
}
.follow {
    cursor: pointer;
}
.unfollow {
    width: 60px;
    padding: 5px 22px 5px 22px !important;
    cursor: pointer;
}
.follow {
    width: 60px;
    padding: 5px 22px 5px 22px !important;
    cursor: pointer;
}
.unfollow i {
    color: #262626;
    font-size: medium;
}
.follow i {
    color: #262626;
    font-size: medium;
}
#ani_img_seguir {
    width: 20px;
    height: 20px;
}
.mostrarMasTexto {
    color: #8400ff;
    border-radius: 50%;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mostrarMas {
    display: flex;
    margin-left: 24px;
    
}

@media screen and (max-width: 835px) {
    .nav {
        position: fixed;
        width: 20vh;
        left: -150%;
        top: 0;
        transition: 0.4s;
        z-index: 101;
    }
    .nav2{
        background-color:#9582a8;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
        margin-top: 0;
        padding-top: 0;
    }
    .enl_ico:hover {
        background-color:white;

    }
    .enl_ico:hover i {
        color:#9582a8;

    }
    .enl_ico i{
        color:white;

    }
    .body {
        display: block;
    }
    .home {
        max-width: 100%;
        min-width: 100% !important;
    }
    .modalimg {
        padding-right: 0 !important;
    }
    .opciones {
        margin-left: 100px;
    }
    .menu-nav {
        display: block;
    }
    .menu-nav i{
        color:#8d6aad
    }
    .atras {
        display: none;
    }
    .mensaje_texto {
        width: 100%;
    }
    .foto_perfil_perfil{
        cursor: pointer;
        margin-top: 32px;
        margin-left: 20px !important;
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
    .cab_nom {
        margin-left: 20px;
    }
    .informacion {
        margin-left: 20px;
    }
    .descripcion_perfil {
        margin-left: 20px;
    }
    .foto_perfil_editar {
        margin-left: 20px !important;
    }


    .editar_nombre {
        display: flex;
        margin-top: 40px;
        margin-left: 20px;
    }
    .editar_nombreInput {
        margin-left: 50px;
        width: 170px;
        border: solid 0.5px #DBDBDB;
    }
    .editar_descripcion {
        display: flex;
        margin-top: 40px;
        margin-left: 20px;
    }
    .editar_descripcionInput {
        margin-left: 46px;
        width: 170px;
        resize:none;
        height: 80px;
        border: solid 0.5px #DBDBDB;
    }
    .editar_email {
        display: flex;
        margin-top: 40px;
        margin-left: 20px;
    }
    .editar_emailInput {
        margin-left: 70px;
        width: 170px;
        border: solid 0.5px #DBDBDB;
    }
    .editar_pass {
        display: flex;
        margin-top: 40px;
        margin-left: 20px;
        align-items: center;
    }
    .editar_pass label {
        width: 170px;
        font-size: medium;
    }
    .editar_passInput {
        margin-left: 10px;
        width: 150px;
        border: solid 0.5px #DBDBDB;
        max-height: 30px;
    }
    .editar_buton {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 60px;
        margin-right: 60px;
    }
    .labelContra {
        margin-left: 10px !important;
    }
    .perfilImg {
        width: auto !important;
    }
    .seleccionado {
        margin-left: 20px !important;
    }
    .textoNoticias {
        max-width: 300px !important;
    }
    .fullContainer {
        display: block !important;
    }
    .formContainer {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
    }
  }
  @media screen and (min-width: 835px) {
    .menu-nav {
      display: none;
    }
    #cerrar-nav {
      display: none !important;
    }
  }
  /* Eventos js*/
  .show-menu {
    left: 0;
  }

