{% for test in test %}
 {% set userImg = UserLogin(usuarioLogueadoId) %}
<div id="contenido" >

        <div id="tarjetaUsuario" class="p-2">
            <div class="nombre"><b >{{userImg}}</b>
            
            </div>
        </div>
</div>        
{% endfor %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>