{% for test in test %}
 
<div class="contenido">
        <div class="tarjetaUsuario">
            <div class="nombre"><b>{{test.username}}</b>
            
            </div>
        </div>
</div>        
{% endfor %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>