{% extends 'base.html.twig' %}

    {% block body %}
    <div class="barraBusqueda">   
        {{ form_start(formulario, {'attr': {'id': 'formBUSQUEDA','class': 'bi bi-search'}})}}
        <label for="mensaje_imagen">
            <figure class="subir_img">
               <i class="bi bi-search"></i>
            </figure>
        </label>
         {{ form_row(formulario.username, {'attr': {'placeholder':'Escribe algo', }} ) }}
        {{ form_row(formulario.label, {'attr': {'style': 'display:none' }} ) }}
        
        {{ form_end(formulario) }}
    </div>
        <div class="usuariosEncontrados">
            {% if test != " "%}

                {% include 'buscador/barraBusqueda.html.twig' %}      

            {% endif %}

        </div>
    </div>
    {% for test in test %}
        <div class="text-center" id="usuariosEncontrados">
            ola?
        </div>
    {% endfor %}
{% endblock %}
