{% extends 'base.html.twig' %}

    {% block body %}
    <div class="body">
        <div class="nav">
            {% include 'home/nav.html.twig' %}
        </div>  
        <div class="home">
            <div class="br-arr"><h3 class="h3-arr">{{pagina}}</h3></div>
        
        <div class="d-flex justify-content-center">   
            <div class="barraBusqueda">   
            {{ form_start(formulario, {'attr': {'id': 'formBUSQUEDA'}})}}
            <label for="mensaje_imagen">
                <figure class="subir_img">
                   <i class="bi bi-search"></i>
                </figure>
            </label>
             {{ form_row(formulario.username, {'attr': {'placeholder':'Escribe algo','class':'bi bi-search' }} ) }}


            {{ form_end(formulario) }}

            </div >
        </div >   
        <div class="usuariosEncontrados">
            {% if test != " "%}

                {% include 'buscador/barraBusqueda.html.twig' %}      

            {% endif %}

        </div>
    </div>
             
             
        </div>
    </div>
    
    {% for test in test %}
        <div class="text-center" id="usuariosEncontrados">
            ola?
        </div>
    {% endfor %}
{% endblock %}
