{% extends 'base.html.twig' %}

{% block title %}Hello LoginUserController!{% endblock %}

{% block body %}
    {% for message in app.flashes('exitoso') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="form">
        {{ form(formulario) }}
    </div>
{% endblock %}
