{% extends 'base.html.twig' %}
    {% block body %}
    <div class="body">
        <div class="nav">
            {% include 'home/nav.html.twig' %}
        </div>  
        <div class="home">
            <div class="br-arr"><div class="atras" onclick="IrHome()"><i class="bi bi-arrow-left"></i></div><h3 class="h3-arr">{{pagina}}</h3></div>
            {{dump(noticias)}}
            {% for noticias in noticias %}
            {{noticias.channel}}
            
            {% endfor %}

        </div>
    </div>
{% endblock %}
