{% extends 'base.html.twig' %}
    {% block body %}
    <div class="body">
        <div class="nav">
            {% include 'home/nav.html.twig' %}
        </div>  
        <div class="home">
            
                <div class="br-arr"><div class="atras" onclick="IrHome()"><i class="bi bi-arrow-left"></i></div><h3 class="h3-arr">{{pagina}}</h3></div>
                <div class="selectorNoticias">
                    <div class="noticia1" id="actualidad">
                        <a class='black' href='#' onclick="noticiasElegida()">ACTUALIDAD</a>
                        <div class='seleccionado'></div>
                    </div>
                    <div class="noticia1" id="deportes">
                        DEPORTES
                        <div class='seleccionado'></div>

                    </div>
                    <div class="noticia1" id="cultura">
                        CULTURA
                        <div class='seleccionado'></div>

                    </div>

                </div>
                    
                    {# {{dump(noticias)}} #}
            
                {% include 'noticias/mostradorNoticias.html.twig' %}
            
        </div>
{% endblock %}
